<h1>Sign In</h1>

<% flash.each do |key, message| %>
  <div id="flash-<%= key %>" class="alert alert-<%= key %> fade in">
  	<strong>Error:</strong><br />
    <%= message %>
  </div>
<% end %>

<%= form_for(:session, :url => sessions_path) do |f| %>
	<div class="field">
		<%= f.label :email %><br />
		<%= f.text_field :email %><br />
		
		<%= f.label :password %><br />
		<%= f.password_field :password %><br />
	</div>

	<div class="actions">
		<%= f.submit "Sign In"%>
	</div>
<% end %>
