<% provide(:title, "Sign in") %>
<h1>Sign in</h1>

<% flash.each do |key, message| %>
  <div id="flash-<%= key %>" class="alert alert-<%= key %> fade in">
  	<strong>Error:</strong><br />
    <%= message %>
  </div>
<% end %>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(:session, url: sessions_path) do |f| %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.submit "Sign in", class: "btn btn-large btn-primary", id: 'table_button' %>
    <% end %>
  </div>
</div>
