<h1>Student Manager</h1>

<div id="users_index">	
	<table>
		<tr>
			<th id="header_width">Name</th>
			<th id="header_width">Email</th>
			<th></th>
			<th></th>
		</tr>
		
		<% @student.each do |student| %>
		<tr>
			<td><%= student.firstname %> <%= student.lastname %></td>
			<td><%= student.email %></td>
			
			<td>
				<button id="table_button" type="button">
					<%= link_to "Edit", edit_student_path(student) %>
				</button>
			</td>
			
			<td>
				<button id="table_button" type="button">
					<%= link_to "Delete", student, method: :delete, data: { confirm: "Are you sure?" } %>
				</button>
			</td>
		</tr>
		<% end %>
	</table>	
</div>

<div id="table_footer">
				<button id="table_button" type="button"><%= link_to "Add Student", new_student_path %></button>
</div>