<h1>New Student</h1>

<%= form_for(@student) do |f| %>
	<%= render 'shared/error_messages' %>
	<div class="field">
		<%= f.label :firstname, "First Name" %><br />
		<%= f.text_field :firstname %><br />
		
		<%= f.label :lastname, "Last Name" %><br />
		<%= f.text_field :lastname %><br />
		
		<%= f.label :email %><br />
		<%= f.text_field :email %><br />				
		
		<%= f.submit "Add Student", id: "table_button" %>
	</div>
<% end %>

<div class="notice">
	<button id="table_button">
		<a href=<%= add_multiple_users_path %>>Add Multiple Students</a>
	</button>
</div>
