<h1>Staff Manager</h1>

<div id="users_index">	
	<table>
		<tr>
			<th id="header_width">Name</th>
			<th id="header_width">Email</th>
			<th></th>
			<th></th>
		</tr>
		
		<% @user.each do |user| %>
		<tr>
			<td><%= link_to "#{user.firstname} #{user.lastname}", user_path(user), :id => "users_link" %></td>
			<td><%= user.email %></td>
			
			<td>
				<button id="table_button" type="button">
					<%= link_to "Edit", edit_user_path(user) %>
				</button>
			</td>
			
			<td>
				<% if current_user.admin? && !current_user?(user) %>
				<button id="table_button" type="button">
					<%= link_to "Delete", user, method: :delete, data: { confirm: "Are you sure?" } %>
				</button>
				<% else %>
					<button id="table_button" type="button" onclick="alert('Cannot remove Admin account.')">
						Delete
					</button>
				<% end %>
			</td>
		</tr>
		<% end %>
	</table>	
</div>

<div id="table_footer">
				<button id="table_button" type="button"><%= link_to "Add User", new_user_path %></button>
</div>