<h1><%= @user.firstname %> <%= @user.lastname %></h1>
<h2><%= @user.password %></h2>
<h2><%= @user.encrypted_password %></h2>
<h2><%= @user.email %></h2>
<h2><%= @user.id %></h2>
<h3><%= @user %></h3>
