<h1>[<%= @user.id %>]<%= @user.firstname %> <%= @user.lastname %></h1>
<h1><%= @user %></h2>
<h1>Email: <%= @user.email %></h2>
<h1>Password Digest: <%= @user.password_digest %></h2>
<h1>Admin: <%= @user.admin %></h2>

<h1>
	<button id="table_button">
		<%= link_to "Send Test Email", "/test_email", action: :test_email %>
	</button>
</h1>