<h1>Ticket Manager</h1>

<div id="ticket_index_table">
	<div id="pagination_container">
		<%= will_paginate @ticket, next_label: '>', previous_label: '<' %>
	</div>
	<table>
		<tr>
			<th>#</th>
			<th>Student - Title</th>
			<th>Status</th>
			<th>Priority</th>
			<th>Assigned To</th>
			<th>Last Updated</th>
			<th></th>
			<th></th>
		</tr>
		
		<% @ticket.each do |ticket| %>
		<tr id="table_rows">
			<td style="width: 25px" onmouseover="" onclick="document.location = '<%= ticket_path(ticket) %>'"><%= ticket.id %></td>
			
			<td style="width: 430px" onclick="document.location = '<%= ticket_path(ticket) %>'">
				<%= ticket.student_id.nil? ? "#{ticket.title}" : "#{ticket.student.full_name} - #{ticket.title}" %>
			</td>
			
			<td style="width: 70px" onclick="document.location = '<%= ticket_path(ticket) %>'">
				<%= ticket.status %>
			</td>
			
			<td style="width: 60px" onclick="document.location = '<%= ticket_path(ticket) %>'">
				<%= ticket.priority.nil? ? 'Not Set' : ticket.priority %>
			</td>
			
			<td style="width: 130px" onclick="document.location = '<%= ticket_path(ticket) %>'">
				<%= ticket.assigned_user_id.nil? ? nil : "#{ticket.assigned_user.firstname} #{ticket.assigned_user.lastname}" %>
			</td>
				
			<td style="width: 130px" onclick="document.location = '<%= ticket_path(ticket) %>'">
				<%= ticket.updated_at.in_time_zone("Pacific Time (US & Canada)").strftime( "%l:%M%p %_m/%-d/%Y" ) %>
			</td>
				
			<td>
				<button id="table_button" type="button">
					<%= link_to "Edit", edit_ticket_path(ticket) %>
				</button>
			</td>
			
			<td>
				<button id="table_button" type="button">
					<%= link_to "Delete", ticket, method: :delete, data: { confirm: "Are you sure?" } %>
				</button>
			</td>
		</tr>
		<% end %>
	</table><br />
	<button id="table_button" type="button"><%= link_to "New Ticket", new_ticket_path %></button>
</div>

