<h1>New Ticket</h1>

<%= form_for(@ticket) do |f| %>
	<%= render 'shared/error_messages' %>
	<div class="field">
		<%= f.label :title, "Title" %><br />
		<%= f.text_field :title %><br />
		<br />
		<%= f.label :status, "Status", id: 'ticket_status_label' %>
		<%= f.label :assigned_user_id, "Assigned To", id: 'ticket_assigned_label' %><br />
		<%= f.select :status, options_for_select(%w[New Started Pending Resolved]) %>
		<%= f.select :assigned_user_id,  User.all.collect {|p| [ "#{p.firstname} #{p.lastname}", p.id ] } %><br />
		<br />
		<%= f.label :description %><br />
		<%= f.text_area :description %><br />		


		<%= f.submit "Submit Ticket", id: "table_button" %>
	</div>
<% end %>
