<% provide(:title, "Transactions") %> 

<h1>Editing Checkout Details</h1>

<div class="row">
  	<div class="span6 offset3">
    	<%= form_for(@transaction) do |f| %>
		    <%= render 'shared/error_messages', object: f.object %>
		    
		    <%= f.label :laptop %>
		    <%= f.collection_select :laptop_id, available_laptops,:id,:itemname, include_blank: false %>
		    
		    <%= f.label :student %>
		    <%= f.collection_select :student_id, Student.order(:firstname),:id, :full_name, include_blank: 'Select Student' %>
		
		    <%= f.submit "Save Changes", class: "btn btn-large btn-primary", id: "table_button" %>
    	<% end %>
  	</div>
</div>
	

