<% provide(:title, "Settings") %> 

<h1>Editing <%= @laptop.itemname %></h1>

<div class="row">
  	<div class="span6 offset3">
    	<%= form_for(@laptop, :html => {id: "user_edit_form"}) do |f| %>
		    <%= render 'shared/error_messages', object: f.object %>
		    
		    <%= f.label :itemname, 'Item Name' %>
		    <%= f.text_field :itemname %>
		    <br />
		    <%= f.label :scancode, 'Scan Code' %>
		    <%= f.text_field :scancode %>
			<br />
			<% find_transactions = Transaction.where( laptop_id: @laptop.id ) %>
			
			<% if find_transactions.to_a.size == 0 && @laptop.available %>
				<%= f.label :available, 'Available for Checkout' %>
				<%= f.check_box :available %>
				<br />
			<% elsif find_transactions.to_a.size == 1 && !@laptop.available %>
				<%= f.label :available, 'Available for Checkout' %>
				<%= f.check_box :available, disabled: true %>
				<div class=notice>Laptop is currently checked out.</div>
			<% else %>
				<%= f.label :available, 'Available for Checkout' %>
				<%= f.check_box :available %>
				<br />
			<% end %>
			<br />
		    <%= f.submit "Save Changes", class: "btn btn-large btn-primary", id: "table_button" %>
    	<% end %>
  	</div>
</div>
	

