<h1>New Laptop</h1>

<%= form_for(@laptop) do |f| %>
	<%= render 'shared/error_messages' %>
	<div class="field">
		<%= f.label :itemname, "Item Name" %><br />
		<%= f.text_field :itemname %><br />
		
		<%= f.label :scancode, "Scan Code" %><br />
		<%= f.text_field :scancode %><br />			
		
		<%= f.submit "Add Laptop", id: "table_button" %>
	</div>
<% end %>

<div class="notice">
	<button id="table_button">
		<a href=<%= add_multiple_users_path %>>Add Multiple Laptops</a>
	</button>
</div>
