<h1><%= "#{@laptop.itemname}" %>'s History</h1>

<<div id="checkout_history_table">	
	<table>
		<tr>
			<th>Laptop</th>
			<th>Checked Out By</th>
			<th>Moderator</th>
			<th>Out Time</th>
			<th>In Time</th>
			<th></th>	
		</tr>
		
		<% @transaction.each do |transaction| %>
		<tr id="table_rows">
			<td>
				<%= "#{transaction.laptop.itemname}" %>
			</td>
			<td>
				<%= link_to "#{transaction.student.firstname} #{transaction.student.lastname}",
				 student_path(transaction.student.id),
				 id: 'table_link' %>
			</td>
			<td><%= "#{transaction.user.firstname} #{transaction.user.lastname}" %></td>
			<td><%= transaction.time_out.in_time_zone("Pacific Time (US & Canada)").strftime( "%_m/%-d/%Y %l:%M%p" ) %></td>
			<td><%= transaction.time_in.nil? ? "" : transaction.time_in.in_time_zone("Pacific Time (US & Canada)").strftime( "%_m/%-d/%Y %l:%M%p" ) %></td>
		
			<td>
				<button id="table_button" type="button">
					<%= link_to "Delete", transaction, method: :delete, data: { confirm: "Are you sure?" } %>
				</button>
			</td>
		</tr>
		<% end %>
	</table>
	<br />
	<button id="table_button" type="button">
		<%= link_to "View All History", transactions_path %>
	</button>
</div>