<% if signed_in? %>
	<nav id="navbar" class="round">
		<ul>
			<li><a href=<%= user_path(current_user) %>>Home</a></li>
		
			<li><a>Tickets</a>
				<ul>
					<li><a href=<%= root_path %>>Submit a Ticket</a></li>
					<li><a href=<%= root_path %>>View Tickets</a></li>
				</ul>
			</li>
	
			<li><a>Laptops</a>
				<ul>
					<li><a href=<%= new_transaction_path %>>Check-Out</a></li>
					<li><a href=<%= root_path %>>Check-In</a></li>
					<li><a href=<%= transactions_path %>>Status</a></li>	
				</ul>
			</li>
			
			<% if current_user.admin? %>
			<li><a>Manage</a>
				<ul>
					<li><a href=<%= root_path %>>Tickets</a></li>
					<li><a href=<%= users_path %>>Staff</a></li>
					<li><a href=<%= students_path %>>Students</a></li>
					<li><a href=<%= laptops_path %>>Laptops</a></li>
				</ul>
			</li>
			<% end %>

			<li><a><%= current_user.firstname %></a>
				<ul>
					<li><a href=<%= edit_user_path(current_user) %>>Change Password</a></li>
					<li><a href=<%= signout_path %>>Sign Out</a></li>
				</ul>
			</li>

		</ul>
	</nav>
<% end %>