<!DOCTYPE html>
<html>
<head>
	<title>
		YUPS | <%= yield(:title) %>
	</title>
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
</head>


<header id="logo"></header></td>

<div id="appname" style="
	font-family: Arial, Helvetica, monospace; 
	font-weight:bold;
	font-size: 14px;
	text-align: center;">
	Student Tracker
</div>

<nav id="navbar">
	<ul>
		<li><a href=<%= root_path %>>Home</a></li>
		
		<li><a>Tickets</a>
			<ul>
				<li><a href=<%= root_path %>>Submit a Ticket</a></li>
				<li><a href=<%= root_path %>>View Tickets</a></li>
			</ul>
		</li>
		
		<li><a >Laptops</a>
			<ul>
				<li><a href=<%= root_path %>>Check-Out</a></li>
				<li><a href=<%= root_path %>>Check-In</a></li>
				<li><a href=<%= root_path %>>Status</a></li>	
			</ul>
		</li>
		<li><a >Manage</a>
			<ul>
				<li><a href=<%= root_path %>>Tickets</a></li>
				<li><a href=<%= root_path %>>Users</a></li>
				<li><a href=<%= root_path %>>Laptops</a></li>
			</ul>
		</li>
		<li><a >Profile</a>
			<ul>
				<li><a href=<%= root_path %>>Change Password</a></li>
				<li><a href=<%= root_path %>>Edit Profile</a></li>
			</ul>
		</li>
	</ul>
</nav>

<body>
<%= yield %>
</body>

</html>
